
<table class="table table-bordered ">
    <thead>
      <th colspan="2" class = "text-center">Pending Items</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of table.PendingOrders">
        <td width="50%">
            {{p.name}} 
        </td>
        <td class="text-center" width="50%">
            <button class="btn btn-danger" (click) = 'removeFoodFromPending(p)'>Remove</button>
        </td>
        
      </tr>
    </tbody>
    
  <tfoot>
  <div *ngIf='table?.PendingOrders?.length >  0;else noPending'>
  <button class = "btn btn-success" (click) = 'send()'>Send</button>
</div>
<ng-template #noPending>
    <button class = "btn btn-secondary" disabled>Send</button>
</ng-template>
</tfoot>
</table>