* {
    margin: 0;
    padding: 0;
}

.back-grid {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
    "nav-menu page-header"
    "nav-menu other-stuff"; 
}

.page-header{
    grid-area: page-header;
}

.page-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page-details > h6 {
    justify-self: center;
    align-self: center;
}

.page-details > div > h1{
    display: inline;
    color: #5680E9;
    font: arial;
}

#logo{
    justify-self: left;
    align-self: left;
}

#logout{
    justify-self: right;
    align-self: right;
    margin-right: 2em;
    margin-top: 1em;
}

#logout > button{
    padding: 8px 8px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
}

.nav-menu{
    background-color: #5680E9;
    position: fixed;
    font-size: 60px;
    grid-area: nav-menu;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr ;
    grid-template-rows: minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto);
    grid-template-areas: 
    "nav-menu-item1"
    "nav-menu-item2"
    "nav-menu-item3"
    "nav-menu-item4";
}

.nav-menu-item1{
    grid-area: nav-menu-item1;
    align-self: center;
    justify-self: center;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px; 
}

.nav-menu-item1:hover{
    background-color: #84CEEB;
}

.nav-menu-item1-active{
    background-color: #84CEEB;
    grid-area: nav-menu-item1;
    align-self: center;
    justify-self: center;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-menu-item1 > a {
    color: white;
}

.nav-menu-item1-active > a{
    color: white;
}

.nav-menu-item2{
    grid-area: nav-menu-item2;
    align-self: center;
    justify-self: center;
    padding: 15px;
    padding-left: 30px;
    padding-right: 25px;
}

.nav-menu-item2:hover{
    background-color: #84CEEB;
}

.nav-menu-item2-active{
    background-color: #84CEEB;
    grid-area: nav-menu-item2;
    align-self: center;
    justify-self: center;
    padding: 15px;
    padding-left: 30px;
    padding-right: 25px;
}

.nav-menu-item2 > a {
    color: white;
}

.nav-menu-item2-active > a{
    color: white;
}

.nav-menu-item3{
    grid-area: nav-menu-item3;
    align-self: center;
    justify-self: center;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}


.nav-menu-item3:hover {
    background-color: #84CEEB;
}

.nav-menu-item3-active{
    background-color: #84CEEB;
    grid-area: nav-menu-item3;
    align-self: center;
    justify-self: center;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-menu-item3 > a {
    color: white;
}

.nav-menu-item3-active > a{
    color: white;
}

.nav-menu-item4{
    grid-area: nav-menu-item4;
    align-self: center;
    justify-self: center;
    padding: 15px;
    padding-left: 36px;
    padding-right: 25px;
}

.nav-menu-item4:hover{
    background-color: #84CEEB;
}

.nav-menu-item4-active{
    background-color: #84CEEB;
    grid-area: nav-menu-item4;
    align-self: center;
    justify-self: center;
    padding: 15px;
    padding-left: 36px;
    padding-right: 25px;
}

.nav-menu-item4 > a {
    color: white;
}

.nav-menu-item4-active > a{
    color: white;
}