<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<body>
  <div class="back-grid">
    <div class = "nav-menu">
      <div class = "nav-menu-item1" *ngIf="openTab !== OpenTab.EDITMEN"> <a class="far fa-list-alt" (click)='openTab = OpenTab.EDITMEN' [ngClass]="{'active':openTab== OpenTab.EDITMEN}" ></a></div>
      <div class = "nav-menu-item1-active" *ngIf="openTab === OpenTab.EDITMEN" > <a class="far fa-list-alt" (click)='openTab = OpenTab.EDITMEN' [ngClass]="{'active':openTab== OpenTab.EDITMEN}" ></a></div>
      <div class = "nav-menu-item2" *ngIf="openTab !== OpenTab.ASSTA" > <a class="fas fa-chair" (click)='openTab = OpenTab.ASSTA' [ngClass]="{'active':openTab== OpenTab.ASSTA}" ></a></div>
      <div class = "nav-menu-item2-active" *ngIf="openTab === OpenTab.ASSTA" > <a class="fas fa-chair" (click)='openTab = OpenTab.ASSTA' [ngClass]="{'active':openTab== OpenTab.ASSTA}" ></a></div>
      <div class = "nav-menu-item3" *ngIf="openTab !== OpenTab.ADDWA" > <a class="fas fa-user-alt" (click)='openTab = OpenTab.ADDWA' [ngClass]="{'active':openTab== OpenTab.ADDWA}"></a></div>
      <div class = "nav-menu-item3-active" *ngIf="openTab === OpenTab.ADDWA" > <a class="fas fa-user-alt" (click)='openTab = OpenTab.ADDWA' [ngClass]="{'active':openTab== OpenTab.ADDWA}"></a></div>
      <div class = "nav-menu-item4" *ngIf="openTab !== OpenTab.CREATERE"> <a class="fas fa-file" (click)='openTab = OpenTab.CREATERE' [ngClass]="{'active':openTab== OpenTab.CREATERE}"></a></div>
      <div class = "nav-menu-item4-active" *ngIf="openTab === OpenTab.CREATERE"> <a class="fas fa-file" (click)='openTab = OpenTab.CREATERE' [ngClass]="{'active':openTab== OpenTab.CREATERE}"></a></div>
    </div>
    <div class="page-header">
      <div class="page-details">
        <div id="logo"><h1 style="color:black">EASY </h1> <h1> WAITER</h1> 
          <p>Hello, {{manager.displayName}}</p>
        </div>
        <div id="logout"><button class = 'btn btn-danger btn-small' (click) = 'logoutManager()'>Logout</button></div>
      </div>
    </div>
  </div>
  <app-add-waiter *ngIf="openTab === OpenTab.ADDWA" 
  [waiterList] = "waiterList" 
  ></app-add-waiter>
  <app-assign-tables *ngIf="openTab === OpenTab.ASSTA" 
  [tables] = "tables" 
  [waiterList] = "waiterList" 
  ></app-assign-tables>
  <app-create-report *ngIf="openTab === OpenTab.CREATERE" ></app-create-report>
  <app-edit-menu *ngIf="openTab === OpenTab.EDITMEN" 
  [menuApps] = "menuApps"
  [menuSides] = "menuSides"
  [menuEntrees] = "menuEntrees"
  [menuDesserts] = "menuDesserts" ></app-edit-menu>
  
</body>
