<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<body>
  <div class="back-grid">
    <div class = "table-space"> 
      <div class = "table-container">
        <div class = "table-space-item"> Table 1</div>
        <div class = "table-space-item"> Table 2</div>
        <div class = "table-space-item"> Table 3</div>
        <div class = "table-space-item"> Table 4</div>
        <div class = "table-space-item"> Table 5</div>
        <div class = "table-space-item"> Table 6</div>
        <div class = "table-space-item"> Table 7</div>
        <div class = "table-space-item"> Table 8</div>
        <div class = "table-space-item"> Table 9</div>
      </div>
    </div>
    <div class = "waiters-nav">
      <ul class ="list-group">
        <li class="list-group-item list-group-item-info"><p>Waiters</p></li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 1</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 2</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 3</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 4</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 1</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 2</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 3</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 4</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 1</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 2</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 3</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 4</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 1</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 2</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 3</li>
        <li href="#" class="list-group-item list-group-item-action">Waiter 4</li>
      </ul>
    </div>
  </div>
</body>
