 .back-grid{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
    "nav-menu edit-grid";
}

.nav-menu{
    grid-area: nav-menu;
}

.edit-grid{
    grid-area: edit-grid;
}

.text-center > button{
    padding: 10px;
}