 .back-grid{
    display: grid;
    grid-template-columns: 10% 89% 1%;
    grid-template-areas: 
    "nav-menu edit-grid .";
}

.nav-menu{
    grid-area: nav-menu;
}

.edit-grid{
    grid-area: edit-grid;
}

.text-center > button{
    margin: 10px;
}

.btn.btn-primary.add-btn{
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
}

@media (max-width: 1070px){
    .edit-grid{
        grid-area: edit-grid;
        padding-left: 1em;
    }
}

@media (max-width: 950px){
    .edit-grid{
        grid-area: edit-grid;
        padding-left: 3em;
    }
}