<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="back-grid">
  <div class="nav-menu"></div>
  <div class="edit-grid">  
    <br>
    <button class="btn btn-primary add-btn " (click)="onAddMenuItem()" >Add Item</button>  
    
    <table class="table table-bordered ">
        <thead>
          <th colspan="2" class = "text-center">Appetizers</th>
          
        </thead>
        <tbody>
          
          <tr *ngFor="let a of menuApps">
              
            <td width="50%"> 
              <div class="panel">
                {{a.name}} ${{a.price}}
              </div>
            </td>
            <td class="text-center" width="50%"> 
              <button type="button" class="btn btn-primary" (click)="onEditMenuItem(a)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="onRemoveMenuItem(a)" >Remove</button>
            </td>
          </tr>
        </tbody>

      </table>

      <table class="table table-bordered ">
        <thead>
          <th colspan="2" class = "text-center">Sides</th>
        </thead>
        <tbody>
          <tr *ngFor="let s of menuSides">
            <td width="50%">
                <div class="panel">
                    {{s.name}} ${{s.price}} 
                  </div>
            </td>
            <td class="text-center" width="50%">
                <button class="btn btn-primary" (click)="onEditMenuItem(s)">Edit</button>
                <button type="button" class="btn btn-danger" >Remove</button>
            </td>
            
          </tr>
        </tbody>
        
      </table>

      <table class="table table-bordered ">
        <thead>
          <th colspan="2" class = "text-center">Entrees</th>
        </thead>
        <tbody>
          <tr *ngFor="let e of menuEntrees">
            <td width="50%">
                <div class="panel">
                    {{e.name}} ${{e.price}}
                  </div>
            </td>
            <td class="text-center" width="50%">
                <button class="btn btn-primary" (click)="onEditMenuItem(e)">Edit</button>
                <button type="button" class="btn btn-danger" >Remove</button>
            </td>
          </tr>
        </tbody>
        
      </table>

      <table class="table table-bordered ">
        <thead>
          <th colspan="2" class = "text-center">Desserts</th>
        </thead>
        <tbody>
          <tr *ngFor="let d of menuDesserts">
            <td width="50%"> 
                <div class="panel">
                    {{d.name}} ${{d.price}}
                  </div>
            </td>
            <td class="text-center" width="50%">
                <button class="btn btn-primary" (click)="onEditMenuItem(d)">Edit</button>
                <button type="button" class="btn btn-danger" >Remove</button>
            </td>
          </tr>
        </tbody>
        
      </table>
  </div>
</div>