<div class="page-header">
  <h1>Easy Waiter</h1>
  <hr>
</div>
<div id="login-card" class = "card">
  <h3>Sign in</h3>
  <form [formGroup]="loginForm" (ngSubmit)="signInEmail()">
    <div id="login-body">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div *ngIf="f.email.errors" class="notification is-danger">
        <div class="errors" *ngIf="f.email.errors.required">Email is required</div>
        <div class="errors" *ngIf="f.email.errors.email">Not a valid email.</div>
      </div>
    

    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password">
    </div>
    <div *ngIf="f.password.errors" class="notification is-danger">
        <div class="errors" *ngIf="f.password.errors.required">Password is required</div>
      </div>

    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
  </div>
  </form>
</div>