button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.waiter-btn{
    background-color: #0090c5;
    border-radius: 8px;
}

.kitchen-btn{
    background-color: #0090c5;
    border-radius: 8px;
}

.page-header{
    color: rgba(20, 20, 167, 0.795);
    margin: 1em;
}
