<a routerLink = "/waiter-view/">Login Waiter</a>
<!-- <table class='table table-bordered'>
<thead>
    <th width="33%" class = "text-center">To Do</th>
    <th width="33%" class = "text-center">In Progress</th>
    <th width="33%" class = "text-center">Finished</th>
  </thead>
  <tbody>
    <tr *ngFor="let td of toDoOrders" >
      <td > 
        {{td.name}} 
        <button (click) = 'moveToInProg(td)'></button>
      </td>
    </tr>
    <tr *ngFor="let ip of inProgOrders" >
        <td > 
          {{ip.name}}
          <button (click) = 'moveToFinished(ip)'></button>
        </td>
      </tr>
  </tbody>
  
</table> -->
<div class="container">
    <div class="row">
      <div class="col-4">
        To Do
        <ul class="list-group" *ngFor = 'let td of toDoOrders'>
            <li class="list-group-item">{{td.name}} 
                <button (click) = 'moveToInProg(td)'></button>
            </li>
            
          </ul>
      </div>
      <div class="col-4">
        In Progress
        <ul class="list-group" *ngFor = 'let ip of inProgOrders'>
            <li class="list-group-item">{{ip.name}} 
                <button (click) = 'moveToFinished(ip)'></button>
            </li>
            
          </ul>
      </div>
      <div class="col-4">
        Finished
       <ul class="list-group" *ngFor = 'let f of finishedOrders'>
            <li class="list-group-item">{{f.name}} 
            </li>
            
          </ul>
      </div>
    </div>
  </div>