<div class="modal-header">
    <h4 class="modal-title">Add Employee </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <label for="typeahead-basic">Employee Name</label>
      <input #mytag id="typeahead-basic" type="text" class="form-control" value=""/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Save</button>
  </div>