<div class='table-responsive'>
<table class="table table-bordered ">
    <thead>
      <th colspan="2" class = "text-center">Ordered Items</th>
    </thead>
    <tbody>
      <tr *ngFor="let o of table.Orders">
        <td width="50%">
            {{o.name}}  
        </td>
        <td width="50%">
            {{o.getStatusString()}}
          <div *ngIf='o.status == orderStatus.FINISHED'>
            <button class = "btn btn-success" (click) = 'markFoodAsDelivered(o)' >Delivered</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>