.page-header{
    color: rgba(20, 20, 167, 0.795);
    margin: 1em;
}

#tableButton{
    grid-area: grid-column-start;
    margin: 1em;
}

.table.table-hover.table-bordered{
    margin: auto;
    width: 80%;
}

@media (max-width: 450px){
    .table.table-hover.table-bordered{
        width: 300px;
        margin: auto;
    }
}