
<div class='table-responsive'>
<table class="table">
  <thead>
    <th colspan="2" class = "text-center">Active</th>
  </thead>
  <tbody>
    <tr *ngFor="let t of activeTables">
      <td>
        <a routerLink = "/table-view/{{t.tableNumber}}">Table #{{t.tableNumber}}</a>
      </td>
      <td class="text-center">
        <div *ngIf = 't.readyForPickup();else notready'>
        <button class="btn btn-success">Ready For Pickup</button>
      </div>
        <ng-template #notready>
            <button class="btn btn-secondary" disabled >Ready For Pickup</button>
        </ng-template>
      </td>
    </tr>
  </tbody>
  
</table>
</div>
<div class = 'table-responsive'>
<table class="table">
  <thead>
    <th colspan="2" class = "text-center">Inactive</th>
  </thead>
  <tbody>
    <tr *ngFor="let t of inactiveTables">
      <td>
        Table #{{t.tableNumber}}
      </td>
      <td class="text-center"> 
        <button class="btn btn-secondary" [disabled]="!t.is_active">{{t.numSeats}}</button>
      </td>
    </tr>
  </tbody>
  
</table>
</div>
<!-- <pre>{{my_tables|json}}</pre> -->


