<div class="page-header">
  <h1 style="color:black">EASY </h1> <h1> WAITER</h1>
</div>
<div class = "back-grid">
  <div class="waiter-info"> 
    <h6 *ngIf= 'auth.user | async as user'>Hello ,{{user.displayName}}</h6>
    <div><button class = 'btn btn-danger' (click) = 'waiterLogout()'>Logout</button>  </div>
  </div>
</div>
<div class='table-responsive'>
<table class="table table-hover table-bordered">
  <thead>
    <th colspan="2" class = "text-center">Active</th>
  </thead>
  <tbody>
    <tr *ngFor="let t of getActiveTables()">
      <td>
        <a routerLink = "/table-view/{{t.tableNumber}}">Table #{{t.tableNumber}}</a>
      </td>
      <td class="text-center">
        <div *ngIf = 'readyForPickup(t.tableNumber);else notready'>
        <button 
        routerLink = "/table-view/{{t.tableNumber}}" 
        [queryParams] = "{readyForPickup: '1'}"
        class="btn btn-success">Ready For Pickup</button>
      </div>
        <ng-template #notready>
            <button class="btn btn-secondary" disabled >Ready For Pickup</button>
        </ng-template>
      </td>
    </tr>
  </tbody>
  
</table>
</div>
<br>
<div class = 'table-responsive'>
<table class="table table-hover table-bordered">
  <thead>
    <th colspan="2" class = "text-center">Inactive</th>
  </thead>
  <tbody>
    <tr *ngFor="let t of getInactiveTables()">
      <td>
        Table #{{t.tableNumber}}
      </td>
      <td class="text-center"> 
        <button class="btn btn-secondary" [disabled]="!t.is_active">Ready For Pickup</button>
      </td>
    </tr>
  </tbody>
  
</table>
</div>



