
<div class="back-grid">
    <div class="nav-menu"></div>
    <div class="other-stuff">
        <button class="btn btn-primary add-btn " (click)='onClick()' >Add Employee</button>
        <table class="table table-bordered table-hover">
            <thead>
              <th colspan="2" class = "text-center">Waiters</th>
            </thead>
            <tbody>
              <tr *ngFor="let w of waiterList">
                <td width="50%">
                    <div #nameval class="panel">
                        {{w.displayName}} 
                      </div>
                </td>
                <td class="text-center" width="50%">
                    <button type="button" class="btn btn-danger" >Remove</button>
                </td>
                
              </tr>
            </tbody>
            
        </table>
    </div>
</div>
